@model SignUpForm
@{
    ViewData["Title"] = "SignUp";
}

<div class="container">
        <div id="signUp-form-container">
            <div id="signUp-form-background">
                <div>
                    <a label-for="icon" asp-controller="Home" asp-action="Index">
                        <i class="fa-thin fa-angle-left icon"></i>
                        <p class="home">Home</p>
                    </a>
                </div>
                <div id="signUp-form-left">
                    <div>
                        <h1 id="signUp-form-header">Sign Up</h1>
                        <p>Enjoy all of our IT services</p>
                        <div>
                            <a label-for="have-account" asp-controller="auth" asp-action="SignIn">
                                <h5 id="have-account">Have an account?</h5>
                                <p id="signIn-signUp-link">Sign In</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="signUp-form-right">
                    <form  asp-action="SignUp" asp-route-returnUrl="@Model.ReturnUrl" id="signUp-form">
                        <h3>Contact information</h3>

                        <input asp-for="FirstName" class="signUp-form-style" placeholder="Enter your first name">
                        <span asp-validation-for="FirstName" class="signUp-form-error"></span>

                        <input asp-for="LastName" class="signUp-form-style" placeholder="Enter your last name">
                        <span asp-validation-for="LastName" class="signUp-form-error"></span>

                        <input asp-for="Email" class="signUp-form-style" placeholder="Enter your email">
                        <span asp-validation-for="Email" class="signUp-form-error"></span>

                        <h3>Address information</h3>
                        <input asp-for="AddressLine" class="signUp-form-style" placeholder="Street address">
                        <span asp-validation-for="AddressLine" class="signUp-form-error"></span>

                        <input asp-for="PostalCode" class="signUp-form-style" placeholder="Postal code">
                        <span asp-validation-for="PostalCode" class="signUp-form-error"></span>

                        <input asp-for="City" class="signUp-form-style" placeholder="City">
                        <span asp-validation-for="City" class="signUp-form-error"></span>

                        <input asp-for="Country" class="signUp-form-style" placeholder="Country">
                        <span asp-validation-for="Country" class="signUp-form-error"></span>

                        <h3>Password</h3>
                        <input asp-for="Password" class="signUp-form-style" placeholder="Enter your password">
                        <span asp-validation-for="Password" class="signUp-form-error"></span>

                        <input asp-for="ConfirmPassword" class="signUp-form-style" placeholder="Confirm password">
                        <span asp-validation-for="ConfirmPassword" class="signUp-form-error"></span>

                        <button id="signUp-button">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}