@model SignUpForm
@{
    ViewData["Title"] = "SignUp";
}

<div class="container">
        <div id="signUp-form-container">
            <div id="signUp-form-background">
                <div>
                    <a label-for="icon" asp-controller="Home" asp-action="Index">
                        <i class="fa-thin fa-angle-left icon"></i>
                        <p class="home">Home</p>
                    </a>
                </div>
                <div id="signUp-form-left">
                    <div>
                        <h1 id="signUp-form-header">Sign Up</h1>
                        <p>Enjoy all of our IT services</p>
                    </div>
                </div>
                <div id="signUp-form-right">
                    <form  asp-action="SignUp" asp-route-returnUrl="@Model.ReturnUrl" id="signUp-form">
                        <h3>Contact information</h3>
                        <input class="signUp-form-style" placeholder="Enter your first name">
                        <p class="signUp-form-error">error</p>
                        <input class="signUp-form-style" placeholder="Enter your last name">
                        <p class="signUp-form-error">error</p>
                        <input class="signUp-form-style" placeholder="Enter your email">
                        <p class="signUp-form-error">error</p>
                        <h3>Address information</h3>
                        <input class="signUp-form-style" placeholder="Street address">
                        <p class="signUp-form-error">error</p>
                        <input class="signUp-form-style" placeholder="Postal code">
                        <p class="signUp-form-error">error</p>
                        <input class="signUp-form-style" placeholder="City">
                        <p class="signUp-form-error">error</p>
                        <h3>Password</h3>
                        <input class="signUp-form-style" placeholder="Enter your password">
                        <p class="signUp-form-error">error</p>
                        <input class="signUp-form-style" placeholder="Confirm password">
                        <p class="signUp-form-error">error</p>
                        <button id="signUp-button">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>