@model UserProfile

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
        <div id="profile-container">
            <div id="profile-return-home">
                
                <div id="profile-display-left">
                    <div id="profile-display-left-account">
                        <h4>Account</h4>
                        <div id="account-line"></div>
                        <h5>Edit profile</h5>
                    </div>
                </div>
                <div id="profile-display-right">
                    <div id="profile-form">
                        <div id="profile-display-header">
                            <div>
                                <h2>@Model.FirstName @Model.LastName</h2>
                                <h3>@await ProfileManager.ReadRoleAsync(@Model.UserId)</h3>
                            </div>
                            <div>
                                <img src="@("~/profileImages/"+Model.FileName)" asp-append-version="true" id="profile-picture"></img>
                            </div>
                        </div>

                        <form asp-action="EditProfile" enctype="multipart/form-data"  asp-route-returnUrl="">
                        <div class="profile-display-right-grid">
                            <h2 class="profile-display-grid-header">Contact information</h2>
                        
                            <h3 class="profile-style profile-display-right-grid-one">First Name</h3>
                            <input asp-for="FirstName" class="profile-style profile-display-right-grid-two" placeholder="Edit first name">
                            <span asp-validation-for="FirstName" class="signUp-form-error"></span>

                            <h3 class="profile-style profile-display-right-grid-three">Last Name</h3>
                            <input asp-for="LastName" class="profile-style profile-display-right-grid-four" placeholder="Edit last name">
                            <span asp-validation-for="LastName" class="signUp-form-error"></span>

                            <h3 class="profile-style profile-display-right-grid-five">Email</h3>
                            <input asp-for="Email" class="profile-style profile-display-right-grid-six" placeholder="Edit email">
                            <span asp-validation-for="Email" class="signUp-form-error"></span>
                        </div>


                        <div class="profile-display-right-grid">
                            <h2 class="profile-display-grid-header">Address information</h2>
                        
                            <h3 class="profile-style profile-display-right-grid-one">Street Address</h3>
                            <input asp-for="AddressLine" class="profile-style profile-display-right-grid-two" placeholder="Edit Street address">
                            <span asp-validation-for="AddressLine" class="signUp-form-error"></span>

                            <h3 class="profile-style profile-display-right-grid-three">Postal Code</h3>
                            <input asp-for="PostalCode" class="profile-style profile-display-right-grid-four" placeholder="Edit Postal code">
                            <span asp-validation-for="PostalCode" class="signUp-form-error"></span>

                            <h3 class="profile-style profile-display-right-grid-five">City</h3>
                            <input asp-for="City" class="profile-style profile-display-right-grid-six" placeholder="Edit City">
                            <span asp-validation-for="City" class="signUp-form-error"></span>

                            <h3 class="profile-style profile-display-right-grid-seven">Country</h3>
                            <input asp-for="Country" class="profile-style profile-display-right-grid-eight" placeholder="Edit Country">
                            <span asp-validation-for="Country" class="signUp-form-error"></span>


                            <input asp-for="File" name="File" id="File" class="inputfile" />
                            <label for="File">Add profile picture</label>
                            <span asp-validation-for="File" class="signUp-form-error"></span>


                        </div>

                        <button type="submit" id="signUp-button">Save Changes</button>
                       
                        </form>
                 

                    </div>
                </div>
            </div>
        </div>
    </div>

     @*   @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@