<div class="background-landing-pages"></div>
<div class="container showcaseOne-pages">
   <div> 
   <h1>@ViewData["Title"]</h1>
   <div class="d-flex justify-content-center" id="service-title">
      <a asp-controller="Home" asp-action="Index">Home</a>
      <span>|</span>
      <a asp-controller="@ViewData["Title"]" asp-action="Index">@ViewData["Title"]</a>
   </div>
   </div>
</div>
