<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web App</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASP_Net_MVC.styles.css" asp-append-version="true" />
</head>
<body>
  
   @*<partial name="_LoginPartial" />*@
    @if(ViewData["Title"] != "NotFound")
    {
    <partial name="_NavbarPartial" />
        
    }
    
    @if(ViewData["Title"] == "Service" || ViewData["Title"] == "Contact")
    {
    <partial name="_HeaderPartial"/>
    }
        
    

    @RenderBody()
   <partial name="_FooterPartial" />


        

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
