@{
    ViewData["Title"] = "Contact";
}

<div id="contact-showcaseTwo">
  <div class="container-showcase d-flex">
    <div id="contact-showcaseTwo-left">
      <div class="d-flex">
        <h3>About us</h3>
        <img src="/images/line.svg">
      </div>
      <h2>Estimate for your projects.</h2>
      <form id="contact-form"> 
        <input placeholder="Enter your name">
        <input placeholder="Enter your email">
        <textarea placeholder="Enter your message"></textarea>
        <button id="btn-contact-form">Submit Now</button>
      </form>
    </div>
    <div id="contact-showcaseTwo-right">
      <div id="contact-showcaseTwo-right-background"></div>
      <div id="contact-showcaseTwo-triangle"></div>
      
    </div>
  </div>
</div>