@{
    ViewData["Title"] = "Home";
}

<!-- Showcase One -->
<div class="background-landing"></div>
<div class="showcase-one container d-flex align-items-center justify-content-between">
  <div class="display-left">
    <p>Promote any product, service or online course.</p>
    <h1>Get every it Services Here</h1>
    <div class="d-flex">
      <div class="d-flex align-items-center">
        <img src="/images/showcaseOneIconOne.svg">
        <h3>IT Product</h3>
      </div>
      <div class="d-flex align-items-center">
        <img src="/images/showcaseOneIconTwo.svg">
        <h3>IT Services</h3>
      </div>
    </div>
  </div>
  <div class="display-right">
    <img id="showcase-one-figure" src="/images/showcaseOneFigure.png">
  </div>
</div>
<!-- end of showcase 1 -->


<!-- Showcase Two -->
<div class="container align-items-center" id="showcase-two">
  <div id="showcase-two-left"> 
    <img src="/images/showcase-two-left-icon.svg">
  </div>
  <div id="showcase-two-right">
    <h3>About us</h3>
    <span><img src="/images/line.svg" id="line"></span>
    <h2>You can't use up creativity.</h2>
    <h4>Does any industry face a more complex audience journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, the length of the decision-making cycle, the competing interests of the people who purchase, implement, manage, and use the technology. It’s a lot meaningful content here.</h4>
    <img src="/images/showcase-two-icon.svg" id="icon-one">
    <div id="experience" class="d-flex">
      <h2>15</h2>
      <h3>Years Of Experience</h3>
    </div>
    <div id="showcase-two-buttons" class="d-flex">
      <button id="showcase-two-btn-one">Learn More</button>
      <button id="showcase-two-btn-two">Intro</button>
    </div>
    <img src="/images/showcase-two-icon.svg" id="icon-two">
    <img src="/images/showcase-two-triangle.svg" id="triangle">
  </div>
</div>
<!-- end of showcase 2 -->


<!-- Showcase 3 -->
<div id="showcase-three">
  <div id="showcase-three-background"></div>
  <div class="container d-flex" id="showcase-three-container">
    <div id="showcase-three-left">
      <h3>Intro</h3>
      <span><img src="/images/line.svg" id="showcase-three-line"></span>
      <h2>How we grow our business.</h2>
      <h4>The introduction of cloud and mobile technologies into enterprise software.</h4>
      <p>Whether you are building an enterprise web portal or a state-of-the-art website, you always need the right modern tools. Well-built and maintained .NET frameworks provide those tools in abundance, allowing maintained .NET frameworks provide those tools in abundance, allowing developers to save time, re-use code, and streamline the back end. As software development tools continuously.</p>
      <button id="showcase-three-btn">Learn More</button>
    </div>
    <div id="showcase-three-right">
      <img src="/images/showcase-three-right.svg">
    </div>
  </div>
</div>
<!-- end of showcase 3 -->

<!-- Showcase 4 -->
<div id="showcase-four">
  <div id="showcase-four-background"></div>
  <div class="container">
    <h2>Book a Meeting</h2>
    <p>Does any industry face a more complex audience journey and marketing sales process than B2B technology.</p>
    <form id="form-container">
      <input id="form-name" placeholder="Enter your name">
      <input id="form-email" placeholder="Enter your email">
      <textarea id="form-text-area" placeholder="Enter your questions & subject here."></textarea>
      <div id="form-btn-container">
        <button id="btn-form">Book a Meeting Now</button>
      </div>
    </form>
  </div>
</div>
<!-- end of showcase 4 -->