@{
    ViewData["Title"] = "NotFound";
}
<div id="notFound-background">
    <div id="notfound-container">
        <img src="/images/notfound.png" id="notfound-picture">
        <h1>Looks Like Here Is Nothing</h1>
        <p>Don't be fret. We are here.</p>
    </div>
</div>