@{
    ViewData["Title"] = "SomethingWentWrong";
}
<div id="notFound-background">
    <div id="notfound-container">
        <h2>We're sorry!</h2>
        <h3>Something went wrong, please try again.</h3>
    </div>
</div>