@{
    ViewData["Title"] = "ErrorEmail";
}
<div id="notFound-background">
    <div id="notfound-container">
        <h2>We're sorry!</h2>
        <h3>That email is already used by another user, please go back to sign up.</h3>
    </div>
</div>